<div>
    <a routerLink="/" class="button" 
                      routerLinkActive="success"
                      [routerLinkActiveOptions]="{exact:true}"
                      
                      > Home </a>
    <a routerLink="/products" class="button" routerLinkActive="success"> Products </a>
    <a routerLink="/cart" class="button" routerLinkActive="success"> Cart </a>
    <a routerLink="/about" class="button" routerLinkActive="success"> About </a>
    <a routerLink="/contact" class="button" routerLinkActive="success"> Contact </a>

    <a *ngIf="!(authStatus$ | async)" routerLink="/auth/login" class="button" routerLinkActive="success"> Login </a>

    <button *ngIf="(authStatus$ | async)" (click)="logout()"> Logout </button>

    <button   (click)="throwError()"> Error </button>


    
    <hr />
</div>